<style type="text/css">
#main{
    background-color: lightblue;
    max-width: 600px;
    margin: 0 auto;
  }
.title{
    color: maroon;
    font-weight:lighter;
    font-style:italic;
    text-align:center;
  }
.navbar{
    text-align: center;
    list-style-type: none;
}
ul{
    list-style-type: none;
    padding: 5px;
}

  
.guitartable{
    text-align: center;
    max-width: 1600px;
    max-height: 700px;
    margin: auto;
  }
.proimage{
      max-width: 396px;
      max-height: 555px;

  }
img{
    max-height: 555px;
    max-width: 396px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.luthrow{
    display: inline-block;
    width: 400px;
    height: 700px;
    margin: 20px; 
}
