#main{
    background-color: lightblue;
    margin: auto;
  }
.title{
    color: maroon;
    font-weight:lighter;
    font-style:italic;
    text-align:center;
  }
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap; 
    align-content: center;
}
.proimage{
  width: 396px;
  height: 555px;
}
#pro1{
  margin: auto;
}
#pro2{
  margin: auto;
}
#pro3{
  margin: auto;
}
#pro4{
  margin: auto;
}
.protext{
  text-align: center;
}
